
<link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href='style/main.css' rel='stylesheet'>
<!-- <link rel="stylesheet" type="text/css" href="editable-table.css"> -->
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- <script src="editable-table.js"></script> -->
<!-- <script src="jquery.min.js"></script> -->
<script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<script src="./script/Objects.js"></script>
<script src="./script/Setup.js"></script>
<script src="./script/UserInterface.js"></script>
<script src="./script/Submit.js"></script>
<div class='container'>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
     <a href='/' class='navbar-brand'>Tap App</a>

      <h2 class="welcome">Your Timesheets</h2>
      <div class="dropdown navbar-nav navbar-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href="/disconnect">Log Out</a>
          </li>
          <li>
            <a href="javascript:redirectToTimesheet();">Past Timesheets</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

<TABLE BORDER="3" CELLSPACING="1" CELLPADDING="1">
<CAPTION>Timesheet Data (last 5 days)</CAPTION>
<TR>
	<TD ALIGN = "center"> ID </TD>
	<TD ALIGN = "center"> First Name </TD>
	<TD ALIGN = "center"> Last Name </TD>
	<TD ALIGN = "center"> Email </TD>
	<TD ALIGN = "center"> Submission Time </TD>
	<TD ALIGN = "center"> Hours (rounded) </TD>
	</TR> 
	<% @time_sheets.each do |time_sheet| %>
		<TR>
		<TD ALIGN = "center"> <%= time_sheet.id %> </TD>
		<TD ALIGN = "center"> <%= time_sheet.first_name %> </TD>
		<TD ALIGN = "center"> <%= time_sheet.last_name %> </TD>
		<TD ALIGN = "center"> <%= time_sheet.email %> </TD>
		<TD ALIGN = "center" class = "sub_time_td"> <%= time_sheet.submission_time%> </TD>
		<TD ALIGN = "center"> <%= time_sheet.hours %> </TD>
		</TR> 
	<% end %>
</TABLE>
<br/>
<form class = "back" action="/">
    <input type="submit" value="Back to Home" >
</form>

<script>
 $(".sub_time_td").each(function() {
 	var sub_time = parseInt($(this).html());
 	var date = new Date(sub_time);
 	$(this).html(date);
 });
</script>