<script src="./script/DisplayTimesheetData.js"></script>

<TABLE BORDER="0" CELLSPACING="1" CELLPADDING="3">
<CAPTION>Timesheet Data (last 7 days)</CAPTION>
<TR>
<!-- 	<TD ALIGN = "center"> ID </TD>
	<TD ALIGN = "center"> First Name </TD>
	<TD ALIGN = "center"> Last Name </TD>
	<TD ALIGN = "center"> Email </TD> -->
  <TD ALIGN = "center"> Project </TD>
  <TD ALIGN = "center"> Task </TD>
  <TD ALIGN = "center"> Time Type </TD>
	<TD ALIGN = "center"> Submission Time </TD>
	<TD ALIGN = "center"> Hours (rounded) </TD>
	</TR> 
	<% @time_sheets.each do |time_sheet| %>
		<TR>
<!-- 		<TD ALIGN = "center"> <%= time_sheet.id %> </TD>
		<TD ALIGN = "center"> <%= time_sheet.first_name %> </TD>
		<TD ALIGN = "center"> <%= time_sheet.last_name %> </TD>
		<TD ALIGN = "center"> <%= time_sheet.email %> </TD> -->
    <TD ALIGN = "center"> <%= time_sheet.project_name %> </TD>
    <TD ALIGN = "center"> <%= time_sheet.task_name %> </TD>
    <TD ALIGN = "center"> <%= time_sheet.time_type %> </TD>
		<TD ALIGN = "center" class = "sub_time_td"> <%= time_sheet.submission_time%> </TD>
		<TD ALIGN = "center"> <%= time_sheet.hours %> </TD>
		</TR> 
	<% end %>
</TABLE>

<script>
    $(".sub_time_td").each(function() {
    	var sub_time = parseInt($(this).html());
    	var date = new Date(sub_time);
    	$(this).html(date);
    });
</script>
<script>
  var currEntry;
  <% @time_sheets.each do |time_sheet| %>
      currEntry = new PastEntry(<%= time_sheet.id %>, "<%= time_sheet.project_name %>", "<%= time_sheet.task_name %>", 
        "<%= time_sheet.time_type %>", <%= time_sheet.hours %>, new Date(<%= time_sheet.submission_time%>));
      weekly_timesheet.push(currEntry);
  <% end %>
</script>



