<link rel="stylesheet" href= "bootstrap-select/css/bootstrap-select.min.css">
<link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link href='style/main.css' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="sweetalert-master/dist/sweetalert.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<script src="sweetalert-master/dist/sweetalert.min.js"></script>
<script src="bootstrap-select/js/bootstrap-select.min.js"></script>
<script src='d3/d3.js'></script>
<script src='d3/d3.min.js'></script>
<script src="./script/Objects.js"></script>
<script src="./script/Setup.js"></script>
<script src="./script/UserInterface.js"></script>
<script src="./script/Submit.js"></script>
<div class='container'>
  <div class='navbar navbar-default navbar-fixed-top'>
    <div class='container'>
     <a href='/' class='navbar-brand'>Tap App</a>
      <h2 class="welcome">Your Past Timesheets</h2>
      <div class=" navbar-nav navbar-right">
          <button type="button" onclick="location.href = '/today'" class="btn btn-info" role="button">Calendar</a></button>
          <button type="button" onclick="location.href = '/disconnect'" class="btn btn-info" role="button">Log Out</a></button>
      </div>
    </div>
    <br>
  </div>
</div>
  <br>
  <br>
  <br>
  <br>
  <br>

<TABLE BORDER="3" CELLSPACING="1" CELLPADDING="1">
<CAPTION>Timesheet Data (last 5 days)</CAPTION>
<TR>
	<TD ALIGN = "center"> ID </TD>
	<TD ALIGN = "center"> First Name </TD>
	<TD ALIGN = "center"> Last Name </TD>
	<TD ALIGN = "center"> Email </TD>
  <TD ALIGN = "center"> Project </TD>
  <TD ALIGN = "center"> Task </TD>
  <TD ALIGN = "center"> Time Type </TD>
	<TD ALIGN = "center"> Submission Time </TD>
	<TD ALIGN = "center"> Hours (rounded) </TD>
	</TR> 
	<% @time_sheets.each do |time_sheet| %>
		<TR>
		<TD ALIGN = "center"> <%= time_sheet.id %> </TD>
		<TD ALIGN = "center"> <%= time_sheet.first_name %> </TD>
		<TD ALIGN = "center"> <%= time_sheet.last_name %> </TD>
		<TD ALIGN = "center"> <%= time_sheet.email %> </TD>
    <TD ALIGN = "center"> <%= time_sheet.project_name %> </TD>
    <TD ALIGN = "center"> <%= time_sheet.task_name %> </TD>
    <TD ALIGN = "center"> <%= time_sheet.time_type %> </TD>
		<TD ALIGN = "center" class = "sub_time_td"> <%= time_sheet.submission_time%> </TD>
		<TD ALIGN = "center"> <%= time_sheet.hours %> </TD>
		</TR> 
	<% end %>
</TABLE>
<br/>
<form class = "back" action="/">
    <input type="submit" value="Back to Home" >
</form>

<script>
    $(".sub_time_td").each(function() {
    	var sub_time = parseInt($(this).html());
    	var date = new Date(sub_time);
    	$(this).html(date);
    });
</script>
<script>
  displayData();
</script>


